//-------------------------------------------------------
//- Modules :: Buttons
//-------------------------------------------------------

mixin buttons({ text, type, size, isFull, iconFont, iconImage, iconFontAfter })
  button.btn.button(
    class= type ? `button--${type}` : null
    class= size ? `button--${size}` : null
    class= (isFull === true) ? 'button--full' : null
  )&attributes(attributes)
    if (iconFont !== '' && iconFont !== undefined)
      +icon-fonts(iconFont)(class='button__icon')
    if (iconImage !== '' && iconImage !== undefined)
      +icon-images(iconImage)(class='button__icon')
    | #{text}
    if (iconFontAfter !== '' && iconFontAfter !== undefined)
      +icon-fonts(iconFontAfter)(class='button__icon--after')

mixin buttons-link({ href, text, type, size, isFull, iconFont, iconImage })
  a.btn.button(
    class= type ? `button--${type}` : null
    class= size ? `button--${size}` : null
    class= (isFull === true) ? 'button--full' : null
    href= href ? href : '#'
    role='button'
  )&attributes(attributes)
    if (iconFont !== '' && iconFont !== undefined)
      +icon-fonts(iconFont)(class='button__icon')
    if (iconImage !== '' && iconImage !== undefined)
      +icon-images(iconImage)(class='button__icon')
    | #{text}

mixin buttons-disable({text, type, size, isFull, iconFont, iconImage, disabled, iconFontAfter})
  button.btn.button(
    class= type ? `button--${type}` : null
    class= size ? `button--${size}` : null
    class= (isFull === true) ? 'button--full' : null
    disabled= disabled ? disabled : null
    class=disabled ? `button--${disabled}` : null
  )&attributes(attributes)
    if (iconFont !== '' && iconFont !== undefined)
      +icon-fonts(iconFont)(class='button__icon')
    if (iconImage !== '' && iconImage !== undefined)
      +icon-images(iconImage)(class='button__icon')
    | #{text}
    if (iconFontAfter !== '' && iconFontAfter !== undefined)
      +icon-fonts(iconFontAfter)(class='button__icon--after')
